
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono:wght@700&display=swap');


.headfont {
    font-family: 'Space Mono', monospace;
    font-size: 75px;
    margin-bottom: 0px;
}

.maintext{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #3F3F3F;
}

.navtext{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

html, body {
    margin: 0;
    height: 100%;
}
