
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono:wght@700&display=swap');


.headfont {
    font-family: 'Space Mono', monospace;
    font-size: 6vw;
    margin-bottom: 0px;
}

.maintext{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15vw;
    color: #3F3F3F;
}

.navtext{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
}

html, body {
    margin: 0;
    height: 100%;
}
